serverConfig.json
pythonServer/app/test
pythonServer/app/test.ipynb
pythonServer/app/textClusterEvaluator.ipynb
pythonServer/app/clusterDataframeAverage100.csv
pythonServer/app/transactiondataset.ipynb
backend/
sdfadsfd.sjsdaf
data/dataTransform.ipynb
testpythonserver.ipynb
