.yearControllerContainer {
    margin-left: 5%;
    margin-right: 5%;
    /* border: 1px black solid; */
    background-color: beige;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0em 1em;
}

.yearLable {
    font-size: 1em;
}
.yearInput {
    width: 4em;
    padding-left: 0.5em;
    border-radius: 5px;
    height: 1.2em;
}